* {
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(0.25turn,#0F2027, #203A43, #2C5364);
}

li{
  list-style-type: none;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  border: 6px solid black;

}

.no-show{
  display:none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button, #myBtn {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 134, 21);
  border-radius: 5px;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin: 0.3rem;
  font-size: 1.1rem;
  /* border-radius: 4px; */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translate(-50%); */
  /* position: fixed; */
  /* bottom: 23px; */
  /* right: 28px; */
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {

  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, #myBtn:hover {
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  color:#f5f5f5d5;
  background-color: rgb(255, 134, 21);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 5px;
  /* border: 1px solid #888; */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#high-score-table{
  text-align: center;
  font-size: 1.3rem;
}

table, tr, td {
  border-spacing: 15px;
  border-collapse: collapse;
  border-bottom: 1px solid #f5f5f5d5;;
}

#submit-h1 {
  color: rgb(255, 134, 21);  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.go-back-button {
  background-color: rgb(255, 134, 21);  
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;

}

.controls-h2 {
  color: rgb(255, 134, 21);  
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}